version: '3.8'
services:
  postgres:
    image: pgvector/pgvector:pg17-trixie

    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=ds
    ports:
      - "5431:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data


volumes:
  pgdata:
